﻿.content {
    text-align: center;
    -moz-transform: scale(1.8);
    zoom: 180%;
}

.input {
    margin: 10px 5px;
}

#calculateText {
    font-size: 30px;
}
#result {
    font-size: 25px;
}

select {
    height: 25px;
    width: 120px;
}