﻿@model NumberSystemConverter.ViewModels.NumberSystemViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>NumberSystem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (Model != null && !String.IsNullOrEmpty(Model.Error))
            {
                <span id="error" class="text-danger">@Model.Error</span>
            }
                
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapperKeys" class="control-label"></label>
                <div id="mappingGroup">
                    @if (Model != null)
                    {
                        <text>
                        @{
                            var keys = Model.MapperKeys.ToList();
                            var values = Model.MapperValues.ToList();

                            var counter = 0;
                            var max = Math.Max(keys.Count, values.Count);

                            string Key()
                            {
                                if (counter < keys.Count)
                                    return keys[counter];
                                else
                                    return "";
                            }

                            string Value()
                            {
                                if (counter < values.Count)
                                    return values[counter].ToString();
                                else
                                    return "";
                            }
                        }
                        </text>
                        do
                        {   
                            <text>
                            <div class="row" style="margin-bottom: 5px;" id="mapping">
                                <div class="col-md-4">
                                    <input asp-for="MapperKeys" type="text" value="@Key()" class="mapperKey,form-control" style="width: 100px;" />
                                    <span asp-validation-for="MapperKeys" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="MapperValues" type="number" value="@Value()" class="mapperVal,form-control" style="width: 100px;" />
                                    <span asp-validation-for="MapperValues" class="text-danger"></span>
                                </div>
                            </div>
                            @{ ++counter; }
                            </text>
                        } while (counter < max);
                    }
                    else
                    {
                        <div class="row" style="margin-bottom: 5px;" id="mapping">
                            <div class="col-md-4">
                                <input asp-for="MapperKeys" type="text" class="mapperKey,form-control" style="width: 100px;" />
                                <span asp-validation-for="MapperKeys" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="MapperValues" type="number" class="mapperVal,form-control" style="width: 100px;" />
                                <span asp-validation-for="MapperValues" class="text-danger"></span>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <button type="button" onclick="addMapping();">Add mapping</button>
                    <button type="button" onclick="removeMapping();">Remove mapping</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Seperator" class="control-label"></label>
                <input asp-for="Seperator" class="form-control" />
                <span asp-validation-for="Seperator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function addMapping() {
            var mapping = $("#mapping").last().clone();
            mapping.find('input').val('');
            mapping.appendTo($("#mappingGroup"));
        }

        function removeMapping() {
            if ($("#mappingGroup").children().length <= 1)
                return;
            $("#mapping").last().remove();
        }
    </script>
}
</body>
</html>
