﻿@{
    ViewData["Title"] = "About";
}
<h2><strong>@ViewData["Title"]</strong></h2>
<h3>Converts between different number systems.</h3>
<h4>Select and create your own number systems. Add any systems that you think is missing!</h4>
<br />
<p>Created by Åsmund Lauritz Vaaland as a coding project at Lundehaugen Ungdomsskole.</p>
