﻿@model ConverterViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section CSS {
    <link rel="stylesheet" type="text/css" href="~/css/home.css"/>
}

@section Scripts {
    <script type="text/javascript">
        function calculate() {
            function isInt(value) {
                var x;
                if (isNaN(value)) {
                    return false;
                }
                x = parseFloat(value);
                return (x | 0) === x;
            }

            var input = $("#convertFrom").val();
            var toSystem = $("#toSystem").val();
            var fromSystem = $("#fromSystem").val();

            if (!isInt(toSystem) || !isInt(fromSystem)) {
                return;
            }

            $.ajax({
                type: 'Get',
                url: '/api/convert?input=' + input + '&toSystemId=' + toSystem + '&fromSystemId=' + fromSystem,
                success: updateView
            });
        }
        function updateView(data) {   
            var json = JSON.parse(data);

            console.log(json);

            if (typeof json.error !== 'undefined') {
                $("#switch").hide();
                if (json.type === 0) {
                    $(".result").hide();
                } else {
                    $(".result").show();
                    $("#result").text(json.error)
                }
            } else {
                $("#switch").show();
                $(".result").show();

                var result = json.result;
                $("#result").text(result);
            }
        }

        $(document).on("input", "#convertFrom", calculate);
        $("select").change(calculate);
        $("#calculate").click(calculate);

        $("#switch").click(function () {
            var result = $("#result").text();
            var toSystem = $("#toSystem").val();
            var fromSystem = $("#fromSystem").val();

            $("#convertFrom").val(result);
            $("#toSystem").val(fromSystem);
            $("#fromSystem").val(toSystem);

            $("#calculate").click();
        });
    </script>
}

<div class="content">
    <div class="result" style="display: none;">
        <p id="calculateText"><strong>Calculation</strong></p>
        <p id="result"></p>
        <input type="button" id="switch" value="Switch" style="zoom: 80%"/>  
    </div>

    <div class="inputParent">
        <input type="text" id="convertFrom" placeholder="Convert From" class="input" />
        @{ var list = new SelectList(Model.NumberSystems, "ID", "Name"); }
        <div class="input, numberSystem">
            <select asp-items="@list" id="fromSystem"><option value=""> - From System - </option></select>
            <select asp-items="@list" id="toSystem"><option value=""> - To System - </option></select>
        </div>
        <input type="button" id="calculate" value="Calculate" class="input" />
    </div>
</div>